<todo-filter
  [Filter]="Filter"
  (ChangeFilter)="updateListType($event)"
></todo-filter>

<article *ngIf="AddToDoToggle">
  <create-todo
      *ngIf="ItemToEdit === undefined"
      (ToggleOff)="closeNewTodo()"
  ></create-todo>
  
  <create-todo
      *ngIf="ItemToEdit !== undefined"
      [EditorData]="ItemToEdit"
      (ToggleOff)="closeNewTodo()"
  ></create-todo>
</article>

<todo-list
  [TodoList]="ToDoList"
  (AddTodo)="createNewTodo()"
  (EditToDo)="setToDoEditor($event)"
></todo-list>