<todo-filter
  class="srcryBox"
  [Filter]="Filter"
  (ChangeFilter)="updateListType($event)"
></todo-filter>

<ng-container *ngIf="AddToDoToggle">
  <create-todo
      *ngIf="ItemToEdit === undefined"
      (ToggleOff)="closeNewTodo()"
      @todoFormAnimation
  ></create-todo>
  
  <create-todo
      *ngIf="ItemToEdit !== undefined"
      [EditorData]="ItemToEdit"
      (ToggleOff)="closeNewTodo()"
      @todoFormAnimation
  ></create-todo>
</ng-container>

<todo-list
  [TodoList]="ToDoList"
  (AddTodo)="createNewTodo()"
  (EditToDo)="setToDoEditor($event)"
></todo-list>