<nav class="srcryBox">
    
    <button
        [ngClass]="Filter === 'pending' ? 'active' : 'inactive'"
        class="filterButton"
        type="button"
        (click)="updateFilter('pending')"
    >pending</button>

    <button
        [ngClass]="Filter === 'complete' ? 'active' : 'inactive'"
        class="filterButton"
        type="button"
        (click)="updateFilter('complete')"
    >complete</button>

    <button
        [ngClass]="Filter === 'all' ? 'active' : 'inactive'"
        class="filterButton"
        type="button"
        (click)="updateFilter('all')"
    >all</button>

</nav>